<div id="error-login-authenticator" class="error-message mdc-typography--subtitle2">
  <i class="material-icons" aria-hidden="true">error_outline</i>
  <span id="error-login-authenticator-message" class="message"></span>
</div>
<div class="mdc-typography--body2">{{congratulations}}</div>
<div class="mdc-typography--body2">{{advices}}</div>
<div class="mdc-typography--body2">{{enrollment}}</div>
<button id="start-enrollment" type="submit" class="mgt30 mdc-button mdc-button--raised">
  <div class="mdc-button__ripple"></div>
  <i id="button-icon" class="material-icons mdc-button__icon" aria-hidden="true">fingerprint</i>
  <span id="button-label" class="mdc-button__label">{{startEnrollment}}</span>
</button>
<div class="mgt20 mdc-form-field">
  <div class="mdc-checkbox">
    <input type="checkbox"
           class="mdc-checkbox__native-control"
           id="stop-enrollment"/>
    <div class="mdc-checkbox__background">
      <svg class="mdc-checkbox__checkmark"
           viewBox="0 0 24 24">
        <path class="mdc-checkbox__checkmark-path"
              fill="none"
              d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
      </svg>
      <div class="mdc-checkbox__mixedmark"></div>
    </div>
    <div class="mdc-checkbox__ripple"></div>
  </div>
  <label class="mdc-typography--caption" for="stop-enrollment">{{skipEnrollment}}</label>
</div>
