<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <base href="/">
  <meta name="viewport" content="minimum-scale=1,initial-scale=1,width=device-width,shrink-to-fit=no">

  <link rel="shortcut icon" href="{{assetsPrefix}}img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{assetsPrefix}}img/favicon.png" type="image/png">
  <link rel="icon" sizes="32x32" href="{{assetsPrefix}}img/favicon-32.png" type="image/png">
  <link rel="icon" sizes="64x64" href="{{assetsPrefix}}img/favicon-64.png" type="image/png">
  <link rel="icon" sizes="96x96" href="{{assetsPrefix}}img/favicon-96.png" type="image/png">
  <link rel="icon" sizes="196x196" href="{{assetsPrefix}}img/favicon-196.png" type="image/png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{assetsPrefix}}img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{assetsPrefix}}img/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{assetsPrefix}}img/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{assetsPrefix}}img/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{assetsPrefix}}img/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{assetsPrefix}}img/apple-touch-icon-144x144.png">
  <meta name="msapplication-TileImage" content="{{assetsPrefix}}img/favicon-144.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">

  <link rel="stylesheet" href="{{assetsPrefix}}css/style.css" type="text/css" media="screen">
</head>
<body>
<!--  app start -->
{{{body}}}
<!--  app end -->
</body>
</html>
